:root {
    --dark: #30231d;
    --medium: #6a5750;
    --primary: #b5a397;
    --secondary: #f6f1ed;
    --light: #FFFFFF;
    --background-light: #FFFFFF;
    --red-pink: #E51C34;
}

#titleDiv {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary);
    padding: 10px;
    text-align: center;
    color: var(--dark);
    border: 1px solid var(--secondary);
    border-radius: 15px;
}

#updateTitle {
    color: var(--medium);
}

table {
    font-weight: 200;
    background-color: var(--background-light);
    margin: 10px;
    color: var(--medium);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito";
    font-weight: 400;
    font-size: 28px;
}

form, p, button, input, ul, li, a {
    font-family: "Nunito";
    font-weight: 200;
    font-size: 20px;
}

body {
    background-color: var(--background-light);
    font-family: "Nunito";
    font-weight: 400;
    font-size: 20px;
    color: var(--dark);
    margin-left: 20%;
    margin-right: 20%;
}

button, #submitButton {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--light);
    border-radius: 5px;
    padding: 10px;
}

button:hover, #submitButton:hover {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    color: var(--primary);
    border-radius: 5px;
}

input {
    background-color: var(--secondary);
    border: 0.5px solid var(--secondary);
    color: var(--primary);
    border-radius: 5px;
    padding: 10px;
}

ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--medium);
    border-radius: 5px;
}

li {
    float: left;
}

li a {
    display: block;
    color: var(--light);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: var(--dark);
    color: var(--secondary);
}

hr {
    background-color: var(--dark);
    border-color: var(--dark);
    color: var(--dark);
}

/* FONTS */
/* nunito-200 - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/nunito-v9-latin-200.eot'); /* IE9 Compat Modes */
    src: local('Nunito ExtraLight'), local('Nunito-ExtraLight'),
    url('../fonts/nunito-v9-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/nunito-v9-latin-200.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/nunito-v9-latin-200.woff') format('woff'), /* Modern Browsers */ url('../fonts/nunito-v9-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/nunito-v9-latin-200.svg#Nunito') format('svg'); /* Legacy iOS */
}

/* nunito-regular - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/nunito-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Nunito Regular'), local('Nunito-Regular'),
    url('../fonts/nunito-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/nunito-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/nunito-v9-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/nunito-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/nunito-v9-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}