#titleDiv {
	margin-left: auto;
    margin-right: auto;
	/*max-width: 600px;*/
	background-color: gray;
	padding: 10px;
	text-align: center;
	color: black;
	border: 1px solid gray;
	border-radius: 15px;
}

h1,h2,h3,h4,h5,h6 {
	/* font-family: Helvetica; */
	font-size: 28px;
}
body {
	background-color: lightgray;
	font-family: "Trebuchet MS";
	font-size: 20px;
	color: #2d486c;
	margin-left: 20%;
    margin-right: 20%;
}
button, #submitButton {
	font-size: 20px;
	background-color: #b0c4de;
	border: 1px solid #2d486c;
	border-radius: 5px;
	padding: 4px;
}
button:hover, #submitButton:hover {
	background-color: #dbe4f0;
	border: 1px solid #2d486c;
	border-radius: 5px;
}
input {
	font-size: 20px;
	background-color: #dbe4f0;
	border: 0.5px solid #2d486c;
	border-radius: 5px;
	padding: 5px;
}
/*a {
	color: black;
	text-decoration: none;
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 5px;
}
a:hover {
	background-color: #dbe4f0;
}*/

ul {
	display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 5px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}